.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


.btn{
  display: flex;
  justify-content: center;
}
button{
  font-family: 'Indie Flower', cursive;
  border-radius: 1rem;
  font-weight: 900;
  color: #4ECCA3;
  background-color:bisque;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
}
